:root {
    --font-color: #EEF1F3;
    --bg-color: #0d1117;
    --code-bg-color: #161b22;
    --code-count-color: #30363d;
    --var-color: #3b82f6;
    --func-name-color: #f87171;
    --comment-color: #708090;
    --string-color: #22c55e;
    --keyword-color: #bd2cbd;
    --link-color: #690;
    --templateLit-color: #5254df;
    --err-color: #ef5350;
    --succ-color: #4caf50;
    --btn-bg-color: #3ac267;
    --btn-bg-hoover: #1f8860e5;
    --border-color: #30363d;
    --bg-hover-color: #30363d;
    --popover-bg-color: #fffffff5;
    --popover-color: #001a34e5;
    --disabled-bg-color: rgba(71, 71, 71, 0.4);
    --disabled-color: rgba(104, 104, 104, 0.4);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    min-width: 520px;
    max-width: 1440px;
}

.h1 {
    text-align: center;
}

.synth-controls {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-style {
    font-size: 1.2rem;
    padding: 10px 17px;
    border-radius: 17px;
    min-width: 258px;
    color: var(--popover-bg-color);
    background-color: var(--templateLit-color);
    border: 1px solid var(--border-color);
    text-transform: uppercase;
}

.btn-style:hover {
    background-color: #393cdd;
    border: 1px solid var(--bg-hover-color);
    color: #dde0e2;
    cursor: pointer;
}

.synth-range-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    min-width: 520px;
}

.synth-range-hz {
    min-width: 106px;
    font-size: 1.5rem;
    padding: 0 10px;
}

#synth-range {
    width: 400px;
    accent-color: var(--templateLit-color);
}

#synth-range:hover {
    accent-color: #393cdd;
}

.piano {
    display: flex;
    height: 300px;
    max-width: 520px;
    min-width: 520px;
    margin: auto;
    background-color: var(--code-bg-color);
    padding: 10px;
    border: 1px solid var(--border-color);
}

.piano-key {
    position: relative;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    background-color: var(--code-bg-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: right;
    color: var(--keyword-color);
    cursor: pointer;
}

[id$="#"] {
    z-index: 2;
    margin: 0 -31px 0 -31px;
    height: 65%;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0 0 5px 5px
}

.key-txt {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.selected-key {
    background-color: var(--btn-bg-color);
}